mixin heading (className, name)
  div(class=`${className}__heading`)
        h2(class=`${className}__heading-left`)=name
        div(class=`${className}__heading-right`)

<!-- Doctype HTML5 -->
doctype html
html(lang='ru')
  head
    // Задаем кодировку для страницы
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    link(href='css/style.css', rel='stylesheet')

    // SEO Задание тега Title
    title Тестовое задание Омега Норд
    // SEO Задание тега Description
    meta(name='description', content='')

  body
    header.header
      .header__wrap
        button(type='button', aria-label='Переключатель открыть/закрыть меню').nav-toggle
          span
        nav.main-nav
          ul.main-nav__list
            each menuitem, value in menuitems
              li.main-nav__item
                a.main-nav__link(href='#')
                  .main-nav__img-wrap
                    img(src= menuitem.imgSrc, alt= menuitem.imgAlt, width= menuitem.imgWidth, height= menuitem.imgHeight).main-nav__icon
                  span= menuitem.name
    h1.visually-hidden Косметологические услуги
    section.news
      +heading('news', 'Новости:')
      .news__slides.slideshow
        ul.news__slides-list.slideshow__list
          li.news__slide.slideshow__item.slideshow__item--active
            a(href="#").news__slide-link
              img(src='img/content/slide.jpg', alt='Медицинское образование в РФ в сфере косметологии').news__slide-img
              .news__layout
                p.news__slide-heading Медицинское образование в РФ в сфере косметологии: уровни, стандарты, тонкости
                p.news__slide-description В статье речь пойдет о среднем и высшем медицинском образовании в сфере эстетической медицины.
          li.news__slide.slideshow__item
            a(href="#").news__slide-link
              img(src='img/content/slide.jpg', alt='Медицинское образование в РФ в сфере косметологии').news__slide-img
              .news__layout
                p.news__slide-heading Медицинское образование в РФ в сфере косметологии
                p.news__slide-description В статье речь пойдет о среднем и высшем медицинском образовании в сфере эстетической медицины.
          li.news__slide.slideshow__item
              a(href="#").news__slide-link
              img(src='img/content/slide.jpg', alt='Медицинское образование в РФ в сфере косметологии').news__slide-img
              .news__layout
                p.news__slide-heading Медицинское образование в РФ в сфере косметологии
                p.news__slide-description В статье речь пойдет о среднем и высшем медицинском образовании в сфере эстетической медицины.
      .news__annotation
        ul.news__list.slideshow__toggles
          li.news__item.slideshow__toggle
            a(href='#').news__link
             img(src='img/content/pic-news-item.png', alt='Медицинское образование в РФ в сфере косметологии').news__thumb
             p.news__description В госпитале Вишневского научились выращивать сердце в пробирке
          li.news__item.news__item--active.slideshow__toggle.slideshow__toggle--active
            a(href='#').news__link
             img(src='img/content/pic-news-item.png', alt='Медицинское образование в РФ в сфере косметологии').news__thumb
             p.news__description В госпитале Вишневского научились выращивать сердце в пробирке
          li.news__item.slideshow__toggle
            a(href='#').news__link
             img(src='img/content/pic-news-item.png', alt='Медицинское образование в РФ в сфере косметологии').news__thumb
             p.news__description В госпитале Вишневского научились выращивать сердце в пробирке
      .news__button
        a(href="news.html").news__btn перейти в раздел

    section.procedures
      +heading('procedures', 'Диагностика и процедуры:')
      .procedures__wrap
        p.procedures__text Выберите интересующий Вас раздел:
        ul.procedures__list
          each procedure, value in procedures
            li.procedures__item
              a(href="#").procedures__link
                .procedures__img-frame
                  .procedures__img-corner.procedures__img-corner--top-left
                  .procedures__img-corner.procedures__img-corner--top-right
                  .procedures__img-corner.procedures__img-corner--bottom-left
                  .procedures__img-corner.procedures__img-corner--bottom-right
                  img(src= procedure.imgSrc, alt= procedure.imgAlt).procedures__img
                span= procedure.name
